@main("Home Page") {
    <!-- this css class is not part of bootstrap but is defined in /css/style.css -->
  <section id="content">
    <div class="starter-template">
      <h1>Welcome to the online Banking </h1>
      <img src="@routes.Assets.versioned("images/home.jpg")" alt="Online Banking" height="400" width="1000" align="center"><br><br><br>
      <a href="#">
        <span class="glyphicon glyphicon-plus-sign"></span> open New Savings Account
      </a> <br>
      <a href="#">
        <span class="glyphicon glyphicon-plus-sign"></span> open New Checking Account
      </a>

    </div>
  </section>
}